* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cornsilk;
  color: black;
  font-family: Arial, sans-serif;
}

.article {
  margin: 0 auto;
  max-width: 680px;
  padding: 24px;
}

.article__heading.article__heading--verified {
  margin-bottom: 1.5rem;
  color: palevioletred;
}

.article__lead {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-family: serif;
}

.article__lead + p {
  margin-top: 16px;
}

.article__figure.figure {
  margin-top: 16px;
}

.figure__image {
  max-width: 100%;
}

.figure__caption {
  margin-top: 8px;
  text-align: center;
  font-style: italic;
}
